<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">

    <title>Hangman</title>
  </head>
  <body>
    <h1>Hangman</h1>
      <div id="form">
        <form id="cinput">
          <input id="bar" type="text", name="guess"><br>
          <input id="btn" type="submit" value="Guess!">
        </form>
      </div>
      <p><%= input.to_s %></p>
    <script src="/app.js"></script>
  </body>
</html>